<%= render "topbar" %>

<div class="content">
  <%= image_tag("EagleInvite_1.jpeg", alt: "1", class: "gallery-image") %>
  <%= image_tag("EagleInvite_2.jpeg", alt: "2", class: "gallery-image") %>
  <%= image_tag("EagleInvite_3.jpeg", alt: "3", class: "gallery-image") %>
  <%= image_tag("EagleInvite_4.jpeg", alt: "4", class: "gallery-image") %>
</div>

