<!DOCTYPE html>
<html>
<head>

<title><%= content_for(:title) || "Bbt Rails" %></title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= yield :head %>

<%= javascript_importmap_tags %>

</head>


<body>

<%= render "topbar" %>

<div class="content">
  <table>
    <tr>
      <th class="table-title" colspan="2">
        <%= "Leaderboard #{@year_recent}" %>
      </th>
    </tr>
    <% @leaderboard_recent.each do |team, points| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= points %></td>
      </tr>
    <% end %>
  <table>

</div>

</body>
</html>

