<!DOCTYPE html>
<html>
<head>

<title><%= content_for(:title) || "Bbt Rails" %></title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= yield :head %>

<%= javascript_importmap_tags %>

</head>


<body>

<%= render "topbar" %>

<% @scored_event_map_event_scores.each do |scored_event, event_scores| %>
  <table>
    <tr>
      <th class="table-title" colspan="2">
        <%= "#{scored_event.name}, #{scored_event.date_of_event}" %>
      </th>
    </tr>
    <tr>
      <th>Team</th>
      <th>Score</th>
    </tr>
    <% event_scores.each do |event_score| %>
      <tr>
        <td><%= event_score.team.name %></td>
        <td><%= event_score.score %></td>
      </tr>
    <% end %>
  <table>
<% end %>

</body>
</html>

