<%= form_with model: event_score do |form| %>

  <div>
    <%= form.label :event_id %><br>
    <%= form.collection_select :event_id, Event.all, :id, :name, prompt: 'Select an event' %>
    <% event_score.errors.full_messages_for(:event_id).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :team_id %><br>
    <%= form.collection_select :team_id, Team.all, :id, :name, prompt: 'Select a team' %>
    <% event_score.errors.full_messages_for(:team_id).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :score %><br>
    <%= form.number_field :score, step: 0.5, min: 0 %>
    <% event_score.errors.full_messages_for(:score).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

